body {
    margin:0px;
    padding:0px;
    font-family: 'Amatic SC', cursive;
}
.header{
    background-color: #FF006E;
    height: 60px;
    color:white;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}
.movies{
    display: grid;
    grid-template-columns: auto auto auto;
}
@media screen and (max-width: 625px){
    .movies{
    display:grid;
    grid-template-columns: auto;
    }
}